# For dotenv environment variables
.env/
# distribution directories
.npm/
.build
.dist/
# used by Next.js
.next/
# ignore vercel link
.vercel/
# standard ignorable files found when using Yarn
node_modules/
.DS_Store
yarn-error.log
# Ignore dotenv environment variables

# Ignore build/dist directories

# Ignore Next.js directory

# ignore vercel link directory


# logging we can ignore
eslint.log

# ignore the increment typescript build info
tsconfig.tsbuildinfo
# ignore dotenv environment variables
# ignore build/dist directories
# ignore Next.js directory
# ignore .temp directory used during testing
.temp/
